# Welcome to our logistics analysis

In [1]:
# load libraries
import pandas as pd

In [2]:
# load dataset
logistics_data = pd.read_csv('./data/logistic_data.csv')

## Business Understanding

The aim of this analysis is to try to predict how many people we will need for a services that we will be offering to the customers. 


* Problem and Goal Definition: the problem and the goal of the analysis
* Data preparation: Where will we get the dataset, who will give us access to it. 
* Data Understading:  Through the help of explorative data analysis techniques
* Data Pre-processing: treat missing values, numerical and non-numerical data as well as scaling method. 
* Data Modelling: The use of the most powerful models available that suit best to the dataset
* Data Evaluation:  After modelling, which models best perform in the dataset.

## Data Understanding

In [3]:
logistics_data.head()

,AuftragKey,BelDatum,BelLandKey,2 digit PLZ,EntLandKey,2 digit Ent PLZ,AuftragartKey,Kurzform,VerkehrKey,Traffic,...,MA,Kabotage,Sales Region,Stamm- Zielkunde 2016,First Tour,Customer Revenue,Frachtaufwand,Lane ID,Customer Lane ID,Transport / Sonstiger Auftrag
0,11214413,43160,H,12,DE,07,NaN,CEE SkHCz Ex DEnBeNL,CEE,CEE,...,KIDO,False,NaN,Not defined,Yes,NaN,NaN,H12-DE,73462-H12-DE07,Transport
1,11213241,43160,I,59,S,43,NaN,SCA-S1,SCA6,SCA(SE)-IT,...,ZOIV,False,NaN,Not defined,Yes,NaN,NaN,I59-S,78072-I59-S43,Transport
2,11213555,43160,I,57,AT,87,NaN,A-I4,D-I3,AT-IT,...,LORO,False,Central,Stammkunde,Yes,NaN,NaN,I57-AT,8561-I57-AT87,Transport
3,11213656,43160,B,99,I,54,NaN,BEN-I1,D-I4,BEN-IT,...,JUAN,False,NaN,Not defined,Yes,NaN,NaN,B99-I,110340-B99-I54,Transport
4,11213963,43160,S,41,I,23,NaN,SCA-S4,SCA2,SCA(NO)-IT,...,PIKA,False,NaN,Not defined,Yes,NaN,NaN,S41-I,51427-S41-I23,Transport

In [4]:
logistics_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37522 entries, 0 to 37521
Data columns (total 66 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AuftragKey                     37522 non-null  int64
 1   BelDatum                       37522 non-null  int64
 2   BelLandKey                     37522 non-null  object
 3   2 digit PLZ                    37522 non-null  object
 4   EntLandKey                     37522 non-null  object
 5   2 digit Ent PLZ                37522 non-null  object
 6   AuftragartKey                  3659 non-null   object
 7   Kurzform                       37522 non-null  object
 8   VerkehrKey                     37522 non-null  object
 9   Traffic                        37522 non-null  object
 10  DivisionKey                    37522 non-null  object
 11  DisponentKey                   37429 non-null  object
 12  Vorname                        37429 non-null  object
 13  Nachname                       37429 non-null  object
 14  Ertrag                         37522 non-null  float64
 15  Aufwand                        37522 non-null  float64
 16  DB                             37522 non-null  float64
 17  TourKey                        37431 non-null  float64
 18  SubfraechterKey                37420 non-null  float64
 19  Subfraechter                   34082 non-null  object
 20  Art                            37431 non-null  object
 21  KMIst                          37431 non-null  float64
 22  KMIstLeer                      37431 non-null  float64
 23  Kurskey                        20609 non-null  float64
 24  RK/Oneway                      20609 non-null  object
 25  RK Beginn/Ende                 20609 non-null  object
 26  Ladungen                       37522 non-null  int64
 27  KundeKey                       37522 non-null  int64
 28  MatchCode                      37522 non-null  object
 29  ABC                            37522 non-null  object
 30  Mutterkonzern                  37522 non-null  int64
 31  KonzernKey                     37522 non-null  int64
 32  EntDatum                       37522 non-null  int64
 33  DispoKennzeichen               37212 non-null  object
 34  Konzernname                    37522 non-null  object
 35  Firma                          37522 non-null  object
 36  Bahn Vormerkung von            3349 non-null   object
 37  LQ_ADR                         37522 non-null  object
 38  FTL/LTL                        37522 non-null  object
 39  Betreuer                       19863 non-null  object
 40  Konzern oder Kunde Key         37522 non-null  int64
 41  Betreuer Name                  19863 non-null  object
 42  Dispo vs. Vertriebskunde       37522 non-null  object
 43  Nr. of Tour                    37522 non-null  float64
 44  bereinigte Last KM             37522 non-null  float64
 45  bereinigte Leer KM             37522 non-null  float64
 46  bereinigte Gesamt KM           37522 non-null  float64
 47  Quartal                        37522 non-null  object
 48  Kalenderwoche                  37522 non-null  int64
 49  Monat                          37522 non-null  int64
 50  Jahr                           37522 non-null  int64
 51  Name                           37522 non-null  object
 52  Export Land                    37522 non-null  object
 53  Export Gebiet                  37521 non-null  object
 54  Import Land                    37507 non-null  object
 55  Import Gebiet                  37440 non-null  object
 56  MA                             37522 non-null  object
 57  Kabotage                       37522 non-null  bool
 58  Sales Region                   19863 non-null  object
 59  Stamm- Zielkunde 2016          35298 non-null  object
 60  First Tour                     37522 non-null  object
 61  Customer Revenue               0 non-null      float64
 62  Frachtaufwand                  0 non-null      float64
 63  Lane ID                        37522 non-null  object
 64  Customer Lane ID               37522 non-null  object
 65  Transport / Sonstiger Auftrag  37522 non-null  object
dtypes: bool(1), float64(14), int64(11), object(40)
memory usage: 18.6+ MB

In [5]:
logistics_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AuftragKey,37522.0,1.123258e+07,11792.991887,11167367.0,11222570.25,11232607.5,1.124267e+07,11253731.00
BelDatum,37522.0,4.320264e+04,25.591050,43160.0,43179.00,43203.0,4.322400e+04,43259.00
Ertrag,37522.0,1.288955e+03,688.513909,0.0,766.34,1200.0,1.630000e+03,6743.00
Aufwand,37522.0,1.155007e+03,567.137916,0.0,720.00,1070.0,1.500037e+03,5285.57
DB,37522.0,1.339477e+02,328.274687,-1510.0,17.24,100.0,2.620000e+02,3499.00
TourKey,37431.0,5.126520e+07,12187.355517,51226773.0,51254677.50,51265153.0,5.127576e+07,51286257.00
SubfraechterKey,37420.0,8.984069e+04,36978.640761,0.0,74989.00,98465.0,1.179820e+05,132756.00
KMIst,37431.0,5.944364e+02,673.256675,0.0,0.00,491.0,1.027000e+03,17777.00
KMIstLeer,37431.0,5.644249e+01,79.687240,0.0,0.00,20.0,9.500000e+01,1146.00
Kurskey,20609.0,6.251551e+05,3896.938923,607830.0,621805.00,625138.0,6.285390e+05,632089.00
Ladungen,37522.0,1.000000e+00,0.000000,1.0,1.00,1.0,1.000000e+00,1.00
KundeKey,37522.0,8.654867e+04,31768.338170,4.0,75963.00,90371.0,1.082560e+05,132733.00
Mutterkonzern,37522.0,1.609189e-01,0.367461,0.0,0.00,0.0,0.000000e+00,1.00
KonzernKey,37522.0,2.931850e+04,44374.935028,0.0,0.00,0.0,8.176900e+04,131972.00
EntDatum,37522.0,4.320571e+04,26.142662,43160.0,43181.00,43206.0,4.322800e+04,43979.00
Konzern oder Kunde Key,37522.0,8.366832e+04,32224.360725,4.0,75702.00,89374.0,1.044510e+05,132733.00
Nr. of Tour,37522.0,9.843292e-01,0.104147,0.0,1.00,1.0,1.000000e+00,1.00
bereinigte Last KM,37522.0,5.731156e+02,644.213901,0.0,0.00,473.0,1.000000e+03,17777.00
bereinigte Leer KM,37522.0,5.447378e+01,76.653106,0.0,0.00,18.0,9.200000e+01,1146.00
bereinigte Gesamt KM,37522.0,6.275893e+02,693.218298,0.0,0.00,553.0,1.093000e+03,18041.00
Kalenderwoche,37522.0,1.522174e+01,3.661758,9.0,12.00,15.0,1.800000e+01,23.00
Monat,37522.0,3.932013e+00,0.814921,3.0,3.00,4.0,5.000000e+00,6.00
Jahr,37522.0,2.018000e+03,0.000000,2018.0,2018.00,2018.0,2.018000e+03,2018.00
Customer Revenue,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Frachtaufwand,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
logistics_data.isna().sum()

AuftragKey                           0
BelDatum                             0
BelLandKey                           0
2 digit PLZ                          0
EntLandKey                           0
                                 ...
Customer Revenue                 37522
Frachtaufwand                    37522
Lane ID                              0
Customer Lane ID                     0
Transport / Sonstiger Auftrag        0
Length: 66, dtype: int64

In [7]:
key_cols = logistics_data.filter(regex='Key').columns
key_cols = [col for col in key_cols]

In [8]:
logistics_data = logistics_data.drop(
    ['AuftragKey',
     'BelLandKey',
     'EntLandKey',
     'AuftragartKey',
     'VerkehrKey',
     'DivisionKey',
     'DisponentKey',
     'TourKey',
     'SubfraechterKey',
     'KundeKey',
     'KonzernKey',
     'Konzern oder Kunde Key'], axis = 1)